<br>
<p id="notice"><%= notice %></p>
<div class='main'>
<section class='sec1'>
  <div class='transact'>
    <div><%= profile_pic %></div>
    <div><p class='username'><%= current_user.name %></p></div>
    <br>
    <div class='acc'>
      <div class='account'><p class='icons'><i class="fa fa-cog set" aria-hidden="true"></p></i></div>
      <div><p class='acc2'><%= link_to 'Account Settings', edit_user_registration_path, class: 'button is-link' %></div>
      <br>
    </div>
    <br>
    <div class='acc'>
      <div class='account'><p class='icons'><i class="fa fa-credit-card-alt set" aria-hidden="true"></i></p></div>
      <div><p class='acc2'><%= link_to 'All my transactions', group_deals_path, class: 'button is-info' %></div>
      <br>
    </div>
    <br>
    <div class='acc'>
      <div class='account'><p class='icons'><i class="fa fa-users" aria-hidden="true"></p></i></div>
      <div><p class='acc2'><%= link_to 'All Groups', groups_path, class: 'has-text-white' %></div>
      <br>
    </div>
    <br>
    <div class='acc'>
      <div class='account'><p class='icons'><i class="fa fa-money" aria-hidden="true"></i></p></div>
      <div><p class='acc2'><%= link_to 'All external transactions', external_path, class: 'has-text-white' %></div>
      <br>
    </div>
    <br>
    <div class='acc'>
      <div class='account'><p class='icons'><i class="fa fa-gift" aria-hidden="true"></i></p></div>
      <div><p class='acc2'><%= link_to 'All deals', deals_path, class: 'has-text-white' %></div>
      <br>
    </div>
    <br>
  </div>
</section>

 <section class='sec2'>
  <div class='whole'>
    <div class='first'>
      <p class='iconss'><i class="fa fa-bars" aria-hidden="true"></i></p>
      <p class='iconss'>DEALS for group</p>
      <p class='iconss'><i class="fa fa-search" aria-hidden="true"></i></p>
    </div>
    <div class='recent'>
      <div class='most'><p class='para'>most recent</p></div>
      <div class='most1'><p class='para1'>most recent</p></div>
  </div>
  <div class='cost'>
    <div class='total'><p class='button is-info'>Total deals</p></div>
    <div class='tot'><p class='button is-success has-text-weight-bold'>$&nbsp;<%= @sum %></p></div>
  </div>
  <br>
  <% @deals.each do |deal| %>
  <div class='groups'>
      <div class='hass'><p class='has-text-black'><%= link_to deal.author.name, deal, class: 'has-text-black' %></p></div>
    <div class='create butt'>
    <div class='mta'><p><%= link_to deal.name, deal, class: 'mtap button is-info' %></p></div>
      <p class='grup-d has-text-black'><%= deal.created_at.to_date.to_formatted_s(:long_ordinal) %></p>
    </div>
      <p class='has-text-black'><%= deal.amount %></p>
    <% end %>
  </div>
  <div class='last'>
    <div class='scan'><p><%= link_to 'Add New', new_deal_path, class: 'has-text-white' %></p></div>
  </div>
  </div>
  </section>
</div>

<p id="notice"><%= notice %></p>

<!--<h1>Deals</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @deals.each do |deal| %>
      <tr>
        <td><%#= link_to 'Show', deal %></td>
        <td><%#= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%#= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>-->

<%#= link_to 'New Deal', new_deal_path %>
